Flask== 2.2.5
Flask-Cors== 3.0.6
Flask-Migrate==2.2.1
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==3.0.2
flask_socketio==5.3.5
eventlet==0.33.3
flask_marshmallow==0.15.0
marshmallow-sqlalchemy==0.29.0